table {
    line-height: 1.9em;
}

p {
    margin-top: 2%;
    margin-bottom: 2%;
}

.error_title {
    color:red;
    font-size:14pt;
}


.info_title {
    color: #3A951F;
    font-size:14pt;
}

.icon_info {
    color :  #3A951F;
}

.icon_error {
    color: red;
}

.li_info {
    list-style-type:circle;
    margin-left: 10%;
    font-size: 12pt;
}

.error_field {
    color: red;
    border-radius:15px;
    background:#E3DDD1;
    margin:auto;
    padding:6px;
    display:block;
    vertical-align:middle;
}

.info_field {
    color: green;
    border-radius:15px;
    background:#E3DDD1;
    margin:auto;
    padding:6px;
    display:block;
    vertical-align:middle;
}

.compat {
    background-color: #E85747;
    border-radius: 11px;
    margin-left:20%;
    width: 60%;
    color: white;
    font-size: 16pt;
    line-height: 1em;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right 15px;
    text-indent: 30px;
    
}

.welcome-img img{
  border-radius:22px;
  border:#C3B59B 6px solid;
}

.welcome-img a:hover,
.welcome-img a:focus {
    transform: scale(2.05);
    -ms-transform: scale(2.05);
    -webkit-transform: scale(2.05);
    -o-transform: scale(2.05);
    -moz-transform: scale(2.05);
}

.welcome-paragraph {
    text-indent:2%;
    text-align : justify;
    display:block;
    margin:auto;
    width:90%;
    font-size: 18px;
    

}

#tooltip_msg_box {
    position: fixed;
    top: 2%;
    left: 91%;
    cursor: pointer;
    color: #A4A4A4;
    z-index: 1001;
    padding-left: 0px !important;
}

body {
    font-size: 12pt;
}

.active {
    font-size: 12pt;
}


/* CALENDAR */

.ui-datepicker {
    width:auto;
    padding: 0.2em 0.5em 0;
}

.ui-datepicker-trigger:hover{
    cursor:pointer;
}

.ui-widget-header {
    /* background: url("../img/ui-bg_gloss-wave.png") repeat-x scroll 50% 50% #F6A828; */
    border: none;
    background-color: #849325;
}

#ui-datepicker-div button{
    /* background: url("../img/ui-bg_gloss-wave.png") repeat-x scroll 50% 50% #F6A828; */
    color:#000000;
    background-color: #8aad2e;
    font-weight:bold;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #696455;
    font-size:12px;
}

/* css for timepicker */
#ui-datepicker-div, .ui-datepicker{ width: 25%; font-size: 90%; border-radius:4px;}
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px;}
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }



/* css for dialog widget */
.popup_error .ui-widget-header{
    background: #E34C4C;
}


.popup_message .ui-widget-header{
    background:#849325;
}

.ui-tooltip {
       font-size:10pt;
       font-family:Arial;
       background: #000000;
       border-radius:7px;
       padding: 5px;
       color: #ffffff;
       border-style: solid;
       border-color: #798173;
       border-width: 2px;
       cursor:pointer;
       position: absolute;
       padding: 6px;
       padding-left: 12px;
       padding-right: 12px;
       max-width: 23%;
       z-index: 10000;
}


.title_conf {
    margin:auto;
    text-align:center;
    font-size:14pt;
    font-weight:bold;
    font-style: italic;
    width: 100%;
    margin-bottom: 2%;
}



.title_conf_network {
    margin:auto;
    text-align:center;
    font-size:14pt;
    font-weight:bold;
    font-style: italic;
    width: 100%;
}

.title_subconf {
    margin:auto;
    text-align:center;
    font-size:11pt;
    width: 100%;
    margin-bottom: 2%;
}


.p_center {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.internal_menu{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
    background-color: #7BAB67;
    color: white;
}

.internal_menu:hover{
    background-color: #678943;
}


.ui-dialog .ui-dialog-title {
  text-align: center;
  width: 100%;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}

#error_webcam {
    background-color: #F30921;
    padding:4px 7px;
    border-bottom-left-radius:11px;
    border-bottom-right-radius:11px;
    border-top-left-radius:11px;
    border-top-right-radius:11px;
    width: 40%;
    text-align: center;
}


.title_webcam {
    display:block;
    margin:auto;
    width:70%;
    text-align:center;
    font-size:18px;
    font-style:normal;
    font-weight:normal;
    padding-top:7px;
    padding-bottom:20px;
    border-radius: 24px;
}

.screenshot {
  border-radius:22px;
  border:#C3B59B 6px solid;
}

p.p_right{
    text-align: right;
}

p.p_scan {
    margin-left: 80%;
}



.step {
  text-align:center;
}

.ui-widget-overlay
{
    background-color: black;
    background-image: none;
    opacity: 0.6;
    z-index: 1040;    
}

a:link.note_link {color:#93982a;}
a:visited.note_link {color:#93982a;}
a:hover.note_link {
    color:#C3B59B;
}

.error_logs {
    color: red;
    font-size: 16px;
}

.info_logs {
    color: green;
    font-size: 16px;
}

.fake_link {
    cursor: pointer;
}

.update_rpi_icon {
    margin-right: 10%;
}

.subtitle_network {
    margin-left: 10%;
}

.subsub_title {
    display: inline-block;
    margin-left: 2%;
}


#eyes {
    color: #A4A4A4;
    cursor: pointer;

    
}

.plug_content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.pInline {
    display: inline-block;
}

.red {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: #FDB421;
}


